**/.git
**/.gitignore
**/.vs
**/.vscode
**/bin
**/obj
**/node_modules
**/dist
**/out
**/publish
**/*.user
**/*.suo
**/.env
**/docs/
**/tests/
**/frontend/
**/.editorconfig
**/README.md
**/CONTRIBUTING.md
**/*.md
